.idea/
.sass-cache/
node_modules/
data/
dist/
public/css/*.map
public/data/
public/icons/
*.gz
*.br
/data

# Faction backdrops: third-party art, kept local until we have permission to publish
public/images/bg-alliance.jpg
public/images/bg-horde.jpg
